<%= turbo_stream_from "meet-#{@meet.id}" %>

<%= render partial: 'readiness', locals: { meet: @meet } %>

<div class="card mb-4 rounded-3 shadow-sm">
  <div class="card-header py-3">Preload or Reload Data</div>
  <div class="card-body">
    <%= turbo_frame_tag "post" do %>
      <% render partial: 'upload', locals: { meet: @meet } %>
    <% end %>
  </div>
  <div class="card-footer">
    Re-uploading a file will just update the information, <strong>including all past results</strong>. Use with
    caution.
  </div>
</div>

<div class="card mb-4 rounded-3 shadow-sm">
  <div class="card-header py-3">QR Code</div>
  <div class="card-body">
    <%= link_to 'Download PDF', meet_pdf_path(@meet.id), class: 'btn btn-info btn-sm' %>
    <p>
      Logo files to use to generate your own flyer:
      <img src="/images/tractrak-logo-48x48.png" height="48" width="48" alt="TracTrak Logo"/>
      <%= link_to 'Download 48 x 48', '/images/tractrak-logo-48x48.png', download: "tractrak-logo-48x48.png" %>
      <%= link_to 'Download 256 x 256', '/images/tractrak-logo-256x256.png', download: "tractrak-logo-256x256.png" %>
      <%= link_to 'Download 512 x 512', '/images/tractrak-logo-512x512.png', download: "tractrak-logo-512x512.png" %>
      <%= link_to 'Download 1024 x 1024', '/images/tractrak-logo-1024x1024.png', download: "tractrak-logo-1024x1024.png" %>
      <%= link_to 'Download 2048 x 2048', '/images/tractrak-logo-2048x2048.png', download: "tractrak-logo-2048x2048.png" %>
      <%= link_to 'Download SVG', '/images/tractrak.svg', download: "tractrak.svg" %>
    </p>
  </div>
</div>

<!--<div class="card mb-4 rounded-3 shadow-sm">-->
<!--  <div class="card-header py-3">Points</div>-->
<!--  <div class="card-body">-->
<!--    TODO-->
<!--    @include('frontend.@meet.pointsForm')-->
<!--  </div>-->
<!--</div>-->

<div class="card mb-4 rounded-3 shadow-sm">
  <div class="card-header py-3">Meet Statistics</div>
  <div class="card-body">
    <ul>
      <li>Number of athletes: <%= @meet.number_of_athletes %></li>
      <li>Number of teams: <%= @meet.number_of_teams %></li>
      <li>Number of events: <%= @meet.number_of_events %></li>
    </ul>
  </div>
</div>
