<div style="display: flex;
  flex-direction: column;
  align-items: center;">
  <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
    <div class="card-header">Notice</div>
    <div class="card-body">
      <p class="card-text">You only need an account if you want to use TracTrak running your meet.</p>
    </div>
  </div>
  
  <% if flash.present? %>
    <% flash.each do |f| %>
      <% next if f.first == :recaptcha_error %>
      <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
        <div class="card-header">Error</div>
        <div class="card-body">
          <p class="card-text"><%= f.last %></p>
        </div>
      </div>
    <% end %>
  <% end %>
  <% if flash[:recaptcha_error].present? %>
  <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
    <div class="card-header">reCaptcha Failed</div>
    <div class="card-body">
      <p class="card-text">You have failed the Cloudflare reCaptcha challenge. Please try again.</p>
    </div>
  </div>
  <% end %>
  <h2>Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :name %><br/>
      <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
    </div>

    <div class="field">
      <%= f.label :email %><br/>
      <%= f.email_field :email, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br/>
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br/>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
    <div class="cf-turnstile" data-sitekey="0x4AAAAAAAEJDCcCzy0jHBa_" data-callback="javascriptCallback"></div>

    <div class="actions">
      <%= f.submit "Sign up", data: { turbo: false } %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
