<% case lane.place %>
<% when '1' %>
  <tr class="table-success">
<% when 'DQ', 'FS' %>
  <tr class="table-danger">
<% when 'SCR', 'DNS' %>
  <tr class="table-info">
<% when 'DNF' %>
  <tr class="table-warning">
<% else %>
  <tr>
<% end %>
<td><%= lane.lane %></td>
<% if heats.present? && heats > 1 %>
<td><%= lane.race.heat %></td>
<% end %>
<% if lane.race.team_race? %>
  <% if lane.team.abbr.present? %>
    <td>
      <%= lane.team.name %> (<%= lane.team.abbr %>)
    </td>
  <% else %>
    <td><%= lane.team.name %></td>
  <% end %>
  <td><%= lane.place %></td>
  <% if lane.result.present? %>
    <td><%= lane.result_display %></td>
  <% else %>
    <td>&nbsp;</td>
  <% end %>
  </tr>
<% else %>
  <%# if lane.athlete.present? %>
<!--    <td>-->
<!--      <a href="/athlete/<%#= lane.athlete.id %>/<%#= lane.athlete.url %>"><%#= lane.athlete.name %></a>-->
<!--    </td>-->
  <%# else %>
    <td><%= lane.athlete.last_name %>, <%= lane.athlete.first_name %></td>
  <%# end %>
  <td><%= lane.team.name %></td>
  <td><%= lane.place %></td>
  <% if lane.result.present? %>
    <td><%= lane.result_display %></td>
  <% else %>
    <td>&nbsp;</td>
  <% end %>
  <% if heats.present? && lane.race.wind.present? %>
    <% if lane.race.wind >= 2.0 %>
      <td class="bg-danger text-white"><%= sprintf('%+-2.1f', lane.race.wind) %></td>
    <% else %>
      <td><%= sprintf('%+-2.1f', lane.race.wind) %></td>
    <% end %>
  <% end %>
  </tr>
<% end %>