<turbo-frame id="meet-<%= race.meet_id %>-race-<%= race.id %>">
  <h4>
    Heat <%= race.heat %>
    <% if race.start.present? %>
      <span class="badge bg-secondary"><time><%= race.start.strftime('%I:%M %p') %></time></span>
    <% end %>
    <% if race.race_type.wind? && race.wind.present? %>
      <% if race.wind >= 2.0 %>
        <span class="badge bg-danger">Wind <%= sprintf('%+-2.1f', race.wind) %></span>
      <% else %>
        <span class="badge bg-info">Wind <%= sprintf('%+-2.1f', race.wind) %></span>
      <% end %>
    <% end %>
  </h4>
  <div class="table-responsive">
    <table class="table table-striped table-hover table-sm">
      <thead class="thead-light">
      <tr>
        <th>Lane</th>
        <% if race.race_type.athlete_race? %>
          <th>Name</th>
        <% end %>
        <th>Team</th>
        <th>Position</th>
        <th><%= race.race_type.track? ? 'Time' : 'Mark' %></th>
      </tr>
      </thead>
      <tbody>
      <% race.competitors_sorted.each do |lane| %>
        <%= render partial: 'meet/lane', locals: { lane: lane, heats: nil } %>
      <% end %>
      </tbody>
    </table>
  </div>
</turbo-frame>
