<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Disseminating track (and field?) results faster!">
  <meta name="author" content="TracTrak">
  <title><%= content_for?(:title) ? yield(:title) :'TracTrak' %></title>
  <%= yield :meta %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>
<body>
<%= render partial: 'navigation' %>

<div class="container-fluid">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%#= render 'messages', local_variables { errors: errors } %>
  <%= yield %>
</div>
<%= render partial: 'cloudflare' %>
</body>
</html>
